*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('../Images/assignment2_2.jpeg') no-repeat center center fixed;
}

#heading{
    color: white;
    margin-bottom: 20px;
}

#signup_now{
    color: white;
    background-color: rgb(5, 96, 138);
}

.container{
    display: flex;
    margin: 50px 150px;
}

.left{
    flex: 1;
}

.left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right{
    flex: 1;
    background-color: rgb(38, 50, 66);
    padding: 40px;
    color: white;
}

button{
    background-color: rgb(5, 96, 138);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin: 0px 40px 0px 0px;
}

a {
    color: #ccc;
    font-size: 14px;
}

form input{
    width: 100%;
    background-color: rgb(38, 50, 66);
    color: #ccc;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
}

.right h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: normal;
}